{% extends "base.html" %}
{% block title %}{{ t('login_title') }}{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <h2 style="text-align:center;">{{ t('login_title') }}</h2>
        <form method="POST">
            <div class="form-group">
                <label>{{ t('username') }}</label>
                <input type="text" name="username" required autofocus>
            </div>
            <div class="form-group">
                <label>{{ t('password') }}</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%;">{{ t('login_btn') }}</button>
        </form>
    </div>
</div>
{% endblock %}
